{% extends "base.html" %}


{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <div class="row">

    <div class="col s12 m2">
    {% load material_form %}
    <form action="/" method="post">
        {% csrf_token %}
        {% form form=form %}{% endform %}
        <button type="submit" class="btn">Submit</button>
    </form>
    </div>
    {% for wc in wc_detail %}
        <div class="col s12 m5">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{ wc.workcenter }} - {{ wc.description }}</span>

              <script type="text/javascript">
                  google.charts.load('current', {'packages':['corechart']});
                  google.charts.setOnLoadCallback(drawVisualization);


                  function drawVisualization() {
                    var data = google.visualization.arrayToDataTable([
                     ['Month', 'Percent'],
                     ['Performance',  80],
                     ['Availability',  75],
                     ['Quality',  95],
                     ['Overall',  57],
                    ]);

                    var options = {
                      title : 'P A Q O - {{wc.description}}',
                      vAxis: {
                          title: '%',
                          viewWindow: {
                              min: 0,
                              max: 100
                          },
                      },
                      seriesType: 'bars',
                      series: {1: {type: 'line'}}
                    };

                    var chart = new google.visualization.ComboChart(document.getElementById('{{ wc.workcenter }}'));
                    chart.draw(data, options);
                    }
            </script>

              <div id="{{ wc.workcenter }}" style="width: 400px; height: 230px;"></div>
            </div>
            <div class="card-action">
              <a href="#">80/20 Data</a>
              <a href="#">OEE Trends</a>
            </div>
          </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}
